@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  line-height: calc((16 / 14) * 100%);
}
li {
  list-style: none;
}
*,
*::after *::before {
  box-sizing: inherit;
}
body {
  color: #000;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1180px;
  padding: 0px 10px;
  margin: 0 auto;
}
header {
  background-color: #fff8f3;
}
.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;

    gap: 20px;
  }

  &__list-item {
  }

  &__list-link {
    text-transform: uppercase;
  }
}
.phone {
  position: relative;
}
.phone__header::before {
  position: absolute;
  content: "";
  background-image: url(../image/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -2px;
}
.footer__inner {
  padding: 34px 0 39px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 230px;
  }

  &__social {
    display: flex;
    gap: 15px;
    padding-left: 0px;
  }

  &__social-item {
  }

  &__social-link {
  }

  &__social-img {
  }
}
.email {
  margin: 17px 0px;
}
