html {
  box-sizing: border-box;
}
li{
	list-style: none;
}
*,
*::after
*::before{
	box-sizing: inherit;
}
body {
  color: #000;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
	max-width: 1180px;
	padding: 0px 10px;
	margin: 0 auto;
}
header {
  background-color: #fff8f3;
}
.header__inner { 
	padding-top: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
  

  &__list {
   display: flex;
   
    gap: 20px;
  }

  &__list-item {
  }

  &__list-link {
	text-transform: uppercase;
  }
}
.phone {
}
.footer {
  &__contacts {
  }

  &__social {
  }

  &__social-item {
  }

  &__social-link {
  }

  &__social-img {
  }
}
.email {
}
